<style>

    body{
        background-color: lightblue;
        border-style: dashed;
    }
    
    a {
        color:black;
    }
    
    a:visited {
        color:white;
    }
    
    h3 {
        color:black;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    p{
        color:black;
        text-align: center;
        font-family: sans-serif;
        font: size 22px;
    }
    </style>

<body>
    <h3><a href="/posts/{{ post?.id }}"> {{ post?.title }} </a></h3>
    <p>by {{ post?.firstName }} {{ post?.lastName }}; on {{ post?.dateCreated }}</p>
    <p>{{ post?.body }}</p>
</body>
